.slider-main .slider-inner{
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
@media (max-width: 1250px){
  .slider-main .slider-inner{
    padding-left: 30px;
    padding-right: 30px;
  }
}
.slider-main .slider-count{
  position: relative;
  right: inherit;
  top: inherit;
  font-size: 38px;
  line-height: 44px;
  margin: 0 40px 220px 40px;
}
.slider-main .slider-arrow-up{
  right: inherit;
  left: calc(50% - 600px);
  top: inherit;
  bottom: 230px;
  margin: 0 auto;
  width: max-content;
  display: none;
}
@media (max-width: 1250px){
  .slider-main .slider-arrow-up{
    left: calc(50% - 570px);
  }
}
@media (max-width: 1200px){
  .slider-main .slider-arrow-up{
    left: 30px;
  }
}
.slider-arrow-down{
  display: none!important;
  right: inherit;
  left: calc(50% - 490px);
  top: inherit;
  bottom: 230px;
  margin: 0 auto;
  width: max-content;
}
@media (max-width: 1250px){
  .slider-arrow-down{
    left: calc(50% - 460px);
  }
}
@media (max-width: 1200px){
  .slider-arrow-down{
    left: 140px;
  }
}
.slider-main .slider-img{
  height: 720px;
}
.slider-main .slider-content{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding-top: 103px
}
@media (max-width: 1250px){
  .slider-main .slider-content{
    padding-left: 30px;
    padding-right: 30px;
  }
}
.slider-main .slider-content .slider-title{




  /*text-transform: uppercase;*/

  width: 50%;
}
.slider-main .slider-content .slider-subtitle{

  font-size: 23px;
  line-height: 26px;
  /*text-transform: uppercase;*/

  margin-top: 43px;
}

.mob-slider .slider-img{
  height: 100vh;
  background-size: 100%;
}
.mob-slider .slider-content{
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  bottom: 240px;
}
.mob-slider .slider-content .slider-title{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.3;
    /*text-transform: uppercase;*/
    color: #000000;
}
.mob-slider .slider-content .slider-title span{
    color: #363C67;
}
.mob-slider .slider-content .slider-subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  /*text-transform: uppercase;*/
  color: #000000;
  margin-top: 23px;
}
.mob-slider{
  position: relative;
}
.mob-slider .slider-link{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #ffff;
  width: 179px;
  height: 53px;
  margin-top: 43px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: linear-gradient(90deg, #3C6FBC 0%, #353C68 100%);
}
.mob-slider .background-slider{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.header-logo a{
  width: 200px;
  display: flex;
  justify-content: center;
}
.mob-slider .background-slider::after{
  display: none;
}
.mob-slider .background-slider .img-slider{
  position: unset;
  height: 300px;
}
/* ============================================================================ */

body .advantages {
    margin: -120px auto 0 auto;
    z-index: -1;
}
@media (max-width: 991px){
  .advantages-block{
    flex-wrap: wrap;
    justify-content: center;
  }
}
.advantages-block::before{
  display: none;
}
.advantages-panel{
  flex-direction: row;
  padding: 0;
  width: 100%;
  height: 136px;
  padding-left: 33px;
  border-right: 1px solid #0000002f;
  padding-top: 20px;
} 
@media (max-width: 1199px){
  .advantages-panel{
    width: 298px;
    margin-right: 40px;
    padding-left: 20px;
  }
}
@media (max-width: 991px){
  .advantages-panel{
    margin: 0 20px 20px 20px !important;
  }
}
.advantages-text{
  padding: 0 0 0 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /*text-transform: uppercase;*/
  color: #000000;
  display: grid;
  width: 200px;
}
.advantages-text span{
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;

  opacity: 0.5;
}
@media (max-width: 1199px){
  .advantages-text{
    padding: 0 0 0 28px;
  }
}
.advantages-panel::after{
  left: inherit;
  -webkit-transform: translateY(-50%) rotate(270deg);
  -ms-transform: translateY(-50%) rotate(270deg);
  transform: translateY(-50%) rotate(270deg);
  bottom: inherit;
  right: 50px;
  top: 35px;
}
.advantages-panel::before{

}
@media (max-width: 1199px){
  .advantages-panel::before{
    width: 326px;
    left: -15px;
  }
}
@media (max-width: 991px){
  .advantages-panel::before{
    display: none;
  }
}
.block-main{
    margin: 145px auto 100px auto;
}
@media (max-width: 991px){
  .block-main{
    margin: 80px auto 150px auto;
  }
}

/* ============================================================================ */

.cat-main-panel{
  position: relative;
}
.cat-main-panel1:hover .cat-main-hover-block{
  opacity: 1 !important;
  visibility: visible !important;
  transition: opacity 0.5s !important;
}
.cat-main-hover-block{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 475px;
  background: #ffffff;
  padding: 35px 25px 17px 25px;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
  overflow: hidden;
  overflow-y: scroll;
}
@media (max-width: 991px){
  .cat-main-hover-block{
    display: none !important;
  }
}
.cat-main-hover-block::-webkit-scrollbar {
    width: 5px;
}
.cat-main-hover-block::-webkit-scrollbar-thumb {
    background: #f4f4f4;
}
.cat-main-hover-title{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  /*text-transform: uppercase;*/
  color: #000000;
  text-align: center;
}
.cat-main-hover-list{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  margin-top: 25px;
}
.cat-main-hover-item{
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-decoration: underline;
  /*text-transform: uppercase;*/
  color: #3C70BC;
  margin-bottom: 18px;
}
.cat-main-link{
  display: none;
}
@media (max-width: 991px){
  .cat-main-link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

/* ============================================================================ */

.recommend{
  background: #fff;
}
.recommend .block-main{
  margin: 0px auto 0px auto;
  padding-bottom: 30px;
}
.recommend-block {
    margin-top: 0px;
}
.recommend-link {
    padding: 30px 0 0 0;
}
.recommend:before{
  display: none;
}
.recommend:after {
  position: absolute;
  content: '';
  top: calc(50% - 160px);
  right: 0;
  width: 100%;
  height: 310px;
  background: #353C68;
  z-index: -1;
}
.recommend-tabs{
  justify-content: center;
}
.recommend-tab{
  border: none !important;
  min-width: 110px;
  width: auto;
  padding: 0 25px;
  height: 60px;
}
.recommend-tab span{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}
.recommend-tab span:before{
  display: none;
}
.recommend-tabs .active span:after{
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  height: 2px;
  background: #353C68;
  bottom: -6px;
}
.recommend-main{
  margin: 25px 89px 0 89px;
}
.recommend-main .slick-dots{
  bottom: -35px;
}
.recommend-panel-slider .slick-dots li, .recommend-panel-slider .slick-dots li button, .recommend-panel-slider .slick-dots li button:before,
  .recommend-panel-slider-hit .slick-dots li, .recommend-panel-slider-hit .slick-dots li button, .recommend-panel-slider-hit .slick-dots li button:before{
  width: 5px;
}
.recommend-panel-slider .slick-dots li button, .recommend-panel-slider-hit .slick-dots li button{
  padding: 0;
}
.recommend-panel-slider .slick-dots li button:before, .recommend-panel-slider-hit .slick-dots li button:before{
  color: rgba(60, 111, 188, 0.2);
  opacity: 1;
}
.slick-dots li.slick-active button:before{
  color: #3C6FBC;
}
.recommend-panel-slider .recommend-panel-img, .recommend-panel-slider-hit .recommend-panel-img{
  height: 150px;
}
.recommend-panel-section{
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.6);

}
.recommend-panel-info{
  padding: 30px 15px 20px 15px;
  cursor: default !important;
  box-shadow: none !important;
}
.recommend-panel-link{
  text-decoration: none;
}
.recommend-panel-name {
  margin-top: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 15.125px;
  line-height: 17px;
  color: #000000;
  min-height: 35px;
}
.recommend-panel-btn-wrap{
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.recommend-panel-btn-wrap .recommend-panel-price{
  margin: 0;
}
.recommend-panel-btn-wrap .recommend-panel-price .recommend-panel-price-val{
  font-weight: 500;
  font-size: 15.125px;
  line-height: 17px;
}
.recommend-panel-btn-wrap .recommend-panel-btn{
  width: auto;
}
.recommend-panel-btn{
  height: 43px;
  padding: 10px 22px;
  background: #3C6FBC url(/bitrix/templates/seif/images/shopping-cart.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.recommend-panel-btn:hover {
  background: #353C68 url(/bitrix/templates/seif/images/shopping-cart.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.recommend-panel-counter{
  display: flex;
  align-items: center;
  background: #F8F8F8;
}
.recommend-panel-plus, .recommend-panel-minus{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 43px;
  padding: 0 10px;
}
.recommend-panel-count{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 15.125px;
  line-height: 17px;
  text-align: center;
  /*text-transform: uppercase;*/
  color: #000000;
}

.recommend-link::before{
  top: 70%;
  -webkit-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}

/* ============================================================================ */
.working .block-main{
  margin: 40px auto 80px auto;
}
.working-tabs {
	margin: 10px 0;
}
.tabs-nav {
  position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
@media (max-width: 991px){
  .tabs-nav {
    display: flex;
    justify-content: space-between;
  }
}
.tabs-nav::before{
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(53, 60, 104, 0.4);
}
.tabs-nav li {
	display: block;
	float: left;
	padding: 0;
	list-style: none;
}
.tabs-nav a {
  position: relative;
	display: block;
	text-decoration: none;
	text-align: center;
  border: none !important;
  background: none;
  border-radius: 0 !important;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px; 
  line-height: 1.5;
  /*text-transform: uppercase;*/
  color: #353C68;
  padding-bottom: 20px;
  margin-right: 130px;
}
@media (max-width: 991px){
  .tabs-nav a{
    margin-right: 0px;
    font-size: 14px;
    line-height: 1.5;
  }
}
@media (max-width: 760px){
  .tabs-nav a{
    font-size: 14px;
    line-height: 1.5;
  }
}
.tabs-nav li:last-child a{
	margin-right: 0px;
}
.tabs-nav li a.active::before{
	position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background: #353C68;
}
.tabs-items {
	background: #fff;
  border: none;
  margin: 0;
  border-radius: 0;
}
.tabs-item {
	padding: 0;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.tabs-item.active {
	padding: 0;
  opacity: 1;
  visibility: visible;
  height: auto;
}
.working-tab-slider .slick-list{
  margin: 0 -50px;
}
.working-tab-slider .slick-slide{
  margin: 0 50px;
}
.working-tab-slider .slider-arrow-up{
  left: 0;
  bottom: 60px;
  right: inherit;
  top: inherit;
  left: auto;
  bottom: auto;
  top: 30px;
  right: 60px;
}
@media (max-width: 1100px){
  .working-tab-slider .slider-arrow-up{
    bottom: 35px;
  }
}
@media (max-width: 991px){
  .working-tab-slider .slider-arrow-up{
    display: block !important;
  }
}
.working-tab-slider .slider-arrow-down{
  left: 110px;
  bottom: 60px;
  margin: 0;
  left: auto;
  bottom: auto;
  top: 30px;
  right: 0px;
}
@media (max-width: 1100px){
  .working-tab-slider .slider-arrow-down{
    bottom: 35px;
  }
}
@media (max-width: 991px){
  .working-tab-slider .slider-arrow-down{
    display: block !important;
  }
}
.working-tab-slider .slider-arrow-up svg, .working-tab-slider .slider-arrow-down svg{
  opacity: 1;
}
.working-tab-slider .working-tab-item{

  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px){
  .working-tab-slider .working-tab-item{
    flex-wrap: wrap;
  }
}
.working-tab-item-title{
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  /*text-transform: uppercase;*/
  color: #000000;
  margin-bottom: 30px;
}
@media (max-width: 760px){
  .working-tab-item-title{
    font-size: 36px;
    line-height: 38px;
  }
}
.working-tab-item-description{
  width: 43%;
}
@media (max-width: 1100px){
  .working-tab-item-description{
    width: 45%;
  }
}
@media (max-width: 991px){
  .working-tab-item-description{
    order: 2;
    width: 100%;
  }
}
.working-tab-item-description p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin: 0 0 20px 0;
}
.working-tab-item-description .working-tab-item-link{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  width: 179px;
  height: 53px;
  background: #353C68;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.working-tab-item-description .working-tab-item-link:hover{
  background: #3C6FBC;
}
.working-tab-item-image{
  width: 530px;
  height: 440px;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1100px){
  .working-tab-item-image{
    width: 470px;
    height: 380px;
  }
}
@media (max-width: 991px){
  .working-tab-item-image{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
}

/* ============================================================================ */

footer .block-main{
  display: flex;
  margin: 0px auto 0px auto;
}
@media (max-width: 1250px){
  footer .block-main{
    padding: 0 15px;
  }
}
@media (max-width: 1200px){
  footer .block-main{
    flex-direction: column;
    padding: 0;
  }
}
.footer-info{
  width: 37%;
  align-items: flex-start;
}
@media (max-width: 1200px){
  .footer-info{
    order: 2;
  }
}
.footer-menu{
  width: 63%;
}
@media (max-width: 1200px){
  .footer-menu{
    width: 100%;
  }
}
.footer-menu ul{
  padding: 0;
}
@media (max-width: 1200px){
  .footer-menu ul{
    width: 25%;
  }
}
.footer-menu ul:nth-child(1){
  width: auto;
}
.footer-menu ul:nth-child(2) {
  width: 25%;
}
.footer-menu ul:nth-child(3) {
  width: 25%;
}
.footer-menu ul:nth-child(4) {
  width: auto;
}
.footer-logo-text {
  font-size: 14px;
  line-height: 1.5;
}
.footer-address{
  margin-top: 40px;
  text-align: left;
  font-size: 14px;
}
.footer-mail a{
  font-size: 14px;
}
.footer-phone a{
  font-size: 14px;
}
footer .footer-2 .block-main{
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1200px){
  footer .footer-2 .block-main{
    flex-direction: row;
  }
}
.footer-1, .footer-2{
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1000px){
  .footer-polit{
    width: 100%;
    text-align: center;
    margin-top: 13px;
  }
}


/* Доп стили адаптив*/
.menu-mob{
  display: none !important;
  z-index: 0 !important;
}
.header-contact{
  justify-content: flex-end !important;
}
.header-burger{
  display: none !important;
}
.m-menu{
  top: 90px;
  padding: 0 30px;
}
.m-menu-dop {
  padding-right: 30px;
}
.m-menu-main {
  width: 210%;
}
.m-menu-phone {
  margin: 0 0px 30px 0px;
  padding: 25px 0 30px 20px;
}
.m-header-phone{
  display: none !important;
}
.m-menu-link-one::before{
  top: 20px;
  -webkit-transform: none;
  transform: none;
}
.m-menu-link-one-click:before{
transform: rotate(90deg);
}
.header-burger:hover span, .header-burger:hover:before,.header-burger:hover:after {
  background: #353C68;
}
.header-burger.active span{
  opacity: 0;
}
.header-burger.active:before{
  top: 15px;
  transform: rotate(135deg);
}
.header-burger.active:after{
  transform: rotate(-135deg);
  bottom: 15px;
}
.slider-arrow-down{
  display: block !important;
}
.empty_cat-main-panel{
  width: 100%;
}
.consultation-info {
  max-width: inherit;
  padding: 75px 110px 115px 95px;
}
.consultation-block > div {
  padding-bottom: 0px;
}
.recommend-panel{
  min-height: 340px;
  justify-content: space-between;
}
.recommend-panel-slider .recommend-panel-img, .recommend-panel-slider-hit .recommend-panel-img{
  margin-bottom: 20px;
}
.recommend-main .slick-dots {
  bottom: -2px;
}
.inquiry-result .recommend-panel-info .slick-dots{
  bottom: -7px;
}
@media screen and (max-width: 1200px){
  .main .card{
    padding-left: 0px;
    padding-right: 0px;
  }
  .card-title{
    padding:  0 30px;
  }
  .cat-panel-img {
    height: 95px;
  }
  .block-main.service-main{
    margin: 50px auto 0px auto;
    padding: 0 15px;
  }
  .company-main-block {
    width: 100%;
  }
  header{
  height: 90px;
  }
  .header-burger{
  display: flex !important;
  }
  .header-contact{
  display: none !important;
  }
  .header-fos{
  display: none;
  }
  .header-mail{
  margin-top: 0;
  }
  .header .fixed-search{
  display: flex;
  position: absolute;
  right: 125px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  }
  .m-header-phone{
  display: block !important;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: auto;
  }
  body .advantages {
    margin: 0px auto 0 auto;
  }
  .main{
    margin-top: 90px;
  }
  .slider-main .slider-img {
    height: 580px;
  }
  .background-slider{
    width: 100%;
  }
  .background-slider .img-slider {
    height: 580px;
    right: 0;
  }
  .background-slider img {
    height: 580px;
  }
  .advantages-block {
    margin-top: 30px;
  }
  .footer-menu ul:nth-child(1) {
    width: 20%;
  }
  .footer-menu ul:nth-child(4) {
    width: 20%;
  }
  .block-main {
    margin: 100px auto 50px auto;
  }
  .consultation-block > div {
    max-width: 630px;
  }
  .recommend-link {
    margin: 0;
  }
  .main .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 991px){
  .container-cat-detail{
    margin-top: 0;
  }
  .card-title{
    margin: 0 0 20px 0;
  }
  .card-title .card-title-name{
    margin: 0;
  }
  .card-title .card-title-container{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .card-reviews-item .card-reviews-item-row{
    margin: 0 !important;
  }
  #card-rev-fio{
    width: 100%;
  }
  .cat-panel-img {
    height: 120px;
  }
  .catalog{
    padding: 0;
  }
  .catalog-list-main{
    justify-content: space-between;
  }
  .catalog-list-main .cat-panel{
    width: 49%;
    margin-right: 0;
  }
  .container-main .contact-info, .container-main .contact-mesto{
    padding: 0;
  }
  .container-main .catalog{
    padding: 0;
  }
  .working-tab-slider .slick-dots li a{
    margin-right: 25px;
  }
  .background-slider .img-slider{
    height: 350px;
    top: calc(50% - 200px);
  }
  .advantages-block{
    display: flex;
    justify-content: space-between;
  }
  .advantages-panel{
    flex-direction: column;
    margin: 0 !important;
    width: 33%;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    padding-top: 0;
  }
  .advantages-panel svg{
    display: block;
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 28px;
  }
  .slider-main .slider-img, .background-slider img {
    height: 500px;
  }
  .cat-main-panel-last {
    min-height: 160px;
    height: auto;
  }
  .consultation::before{
    display: none;
  }
  .consultation{
    height: auto;
  }
  .consultation .background-slider {
    display: none;
  }
  .background-slider-color{
    max-height: inherit;
  }
  body .consultation-main {
    margin-bottom: 50px;
  }
  .consultation-block > div {
    max-width: inherit;
  }
  .consultation-info {
    padding: 75px 110px 85px 95px;
  }
  .main .container {
    margin-top: 0px!important;
    margin-bottom: 20px;
  }
  .catalog-list{
    justify-content: space-between;
  }
  .catalog-list-panel {
    width: 49%;
    margin-right: 0;
  }
}
@media screen and (max-width: 767px){
  .inquiry-result .search > div {
    width: 100%;
  }
  .container-main .sr-main{
    padding:  0 15px;
  }
  .catalog .content .smi{
    padding: 0;
  }
  .catalog-breadcrumb, .card-title, .container-main .inquiry-page {
    padding: 0 15px;
  }
  .card-img {
    height: 255px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-img .card-img-picture {
    height: 80%;
    width: 80%;
  }
  .card-form .card-one-click, .card-form .card-basket{
    margin-left: 0;
  }
  .main .card{
    padding-left: 15px;
    padding-right: 15px;
  }
  .catalog-list-main .cat-panel{
    width: 100%;
  }
  .catalog{
    padding: 0 15px;
  }
  .container-main .contact-info, .container-main .contact-mesto, .container-main .contact-map{
    padding: 0 15px;
  }
  .container-main .catalog {
    padding: 0 15px;
  }
  .container-main .catalog .content{
    padding: 0;
  }
  .company-main-block, .block-main.service-main {
    margin-top: 20px;
  }
  .block-main.service-main {
    padding: 0 30px;
  }
  .main .container-main {
    margin: 0px 0 0 0;
  }
  .header .fixed-search{
    display: none;
  }
  header {
    height: 70px;
  }
  .header-logo{
    min-width: 150px;
  }
  .m-menu{
    top: 70px;
    padding: 0 30px 0 15px;
  }
  .m-menu-main {
    width: 220%;
  }
  .header-burger{
    width: 35px;
  }
  .header-burger::before{
    top: 4px;
  }
  .header-burger::after{
    bottom: 4px;
  }
  .header-burger.active:after {
    bottom: 16px;
  }
  .main{
    margin-top: 70px;
  }
  .footer-menu {
    display: none;
  }
  .footer-info {
    width: 100%;
  }
  footer{
    padding-bottom: 25px;
  }
  .scroll-top-visible {
    bottom: 80px;
    right: 20px;
  }
  .working-tab-slider .slick-dots li{
    opacity: 0;
    width: 0;
    margin: 0;

  }
  .working-tab-slider .slick-dots li.slick-active{
    opacity: 1;
    width: auto;
    transition: 0.9s;
  }
  .working-tab-item-title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .working-tab-item-description p {
    margin: 0 0 10px 0;
  }
  .working-tab-item-description .working-tab-item-link{
    margin-top: 20px;
  }
  .main .slider-main .slider-content .slider-title{
    font-size: 35px;
    line-height: 1.3;
    width: 100%;
  }
  .slider-main .slider-content{
    padding-top: 100px;
  }
  .background-slider .img-slider {
    height: 200px;
    top: calc(50% - 200px);
    right: -30px;
  }
  .advantages-block{
    flex-direction: column;
  }
  .advantages-panel{
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0 30px 30px 0;
    border: none;
  }
  .advantages-panel svg{
    margin-left: 0;
    margin-bottom: 0;
  }
  .advantages-text{
    width: auto;
  }
  .advantages-text br{
    display: none;
  }
  .advantages-panel::after{
    right: 10px;
  }
  .cat-main-panel {
    width: 50%;
  }
  .block-main {
    margin: 80px auto 100px auto;
  }
  body .consultation-main {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .consultation-title:before{
    display: none;
  }
  .consultation-info {
    padding: 40px 40px 50px 40px;
  }
  .consultation-title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .consultation-preview {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .consultation-bottom{
    flex-direction: column;
  }
  .consultation-bottom .consultation-polit{
    order: 2;
  }
  .consultation-bottom .consultation-btn{
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-1{
    padding-top: 0;
  }
  .recommend-main {
    margin: 25px 57px 0 57px;
  }
  .recommend-panel{
    width: 99%;
  }
  .recommend-link::before{
    display: none;
  }
  .recommend-panel-section {
    line-height: 18px;
  }
  .recommend-link-btn{
    margin: 0 auto;
  }
  .block-main {
    margin: 80px auto 50px auto;
  }
  .working .block-main {
    margin: 0px auto 40px auto;
  }
  .main .container {
    margin-top: 20px!important;
  }
  .catalog-title {
    display: block;
  }
  .catalog-list{
    margin-top: 10px;
  }
  .catalog-block .fixed-search svg{
    fill: #323232;
  }
  .block-main {
    padding: 0 15px;
  }
  .header {
    padding: 0 15px;
  }
  .footer-1, .footer-2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .slider-main .slider-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 375.9px){
  .background-slider .img-slider{
    right: -65px;
  }
  .advantages-panel::after {
    right: 0;
  }
  .working-tab-item-image {
    height: 250px;
  }
  .footer-address{
    width: auto;
  }
  .recommend-block {
    margin: 0 -15px;
  }
}